html,body,blockquote,code,h1,h2,h3,h4,h5,h6,p,pre {margin:0;padding:0}
button,fieldset,form,input,legend,textarea,select {margin:0;padding:0}
fieldset {border:0}
a,a * {cursor:pointer}
div {margin:0;padding:0;background-color:transparent;text-align:left}
hr,img {border:0}
applet,iframe,object {border:0;margin:0;padding:0}
button,input[type=button],input[type=image],input[type=reset],input[type=submit],label {cursor:pointer;}
ul,li {list-style:none;margin:0;padding:0;}
strong {font-weight:bold;}
em {font-style:italic;} 


body {
    margin: 0;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Menlo', 'Courier New', Courier, monospace;
    color: #2661ca;
}

.text-lightblue {
    color: #539aea;
}

.text-lightpink {
    color: #ffe1f2;
}

.highlight {
    color: #539aea;
    background-color: #ffe1f2;
}

@keyframes typing {
  0% {background-color: #539aea;}
  10% {background-color: #539aea00;}
  50% {background-color: #539aea00;}
  60% {background-color: #539aea;}
}

.highlight::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 1.2em;
    margin-bottom: -0.25em;
    background-color: #539aea;
    animation-name: typing;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin: 1.2rem 0;
}

p {
    font-size: 18px;
    line-height: 28px;
    margin: 1rem 0;
}

a {
    text-decoration: none;
    color: #2661ca;
    transition: 0.2s;
}

a:hover {
    color: #A8B0EC !important;
}

.button {
    padding: 10px;
    border: 3px solid #2661ca;
    border-radius: 10px;
    transition: 0.2s;
}

.button:hover {
    color: #539aea;
    border-color: #539aea;
    cursor: pointer;
}

.window {
    padding: 30px 20px 0px 20px;
    border: 3px solid #2661ca;
    border-radius: 10px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.482);
    backdrop-filter: blur(2px);
    transition: margin 0.6s, box-shadow 0.6s, background-color 0.6s;
    
}

.window:hover {
    margin-top: -5px;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.753);
    box-shadow: 0 10px 10px #ffe1f286;
}

.dark .window {
    border-color: #ffe1f2;
    color: white;
    background-color: rgba(255, 255, 255, 0.222);
}

.dark .window:hover {
    background-color: rgba(255, 255, 255, 0.395);
    box-shadow: 0 10px 10px #A8B0EC86;
}

.window-link {
    display: block;
    width: min-content;
}

.window-head {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #539aea60;
    width: 100%;
    height: 2rem;
    border-bottom: 3px solid #2661ca;
    border-radius: 7px 7px 0 0;
}

.dark .window-head {
    border-color: #ffe1f2;
    background-color: #539aea84;
}

.window-url .window-head {
    height: 4.75rem;
    z-index: 0;
}

.window-head-url {
    position: relative;
    margin: 2px -8px;
    padding: 5px;
    border: 3px solid #2661ca;
    border-radius: 10px;
    margin-bottom: 2rem;
    background-color: #ffffff58;
    z-index: 1;
}

.dark .window-head-url {
    border-color: #ffe1f2;
}

.window-buttons {
    margin: 5px;
    padding: 0 4px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.window-buttons > div {
    width: 15px;
    height: 15px;
    margin: 4px;
    border-radius: 100%;
    transition: 0.2s;
}

.window-buttons > div:nth-child(1) {
    background-color:#a8b0ec;
}

.window-buttons > div:nth-child(2) {
    background-color:#ffe1f2;
}

.window-buttons > div:nth-child(3) {
    background-color:white;
}

.window-buttons > div:hover {
    background-color:#539aea;
}

@media screen and (max-width: 800px) {
    .window.mini {
        position: relative;
        border-color: #00000000;
        background-color:#00000000;
        backdrop-filter: blur(0px);
        transition: margin 0.6s, box-shadow 0.6s, background-color 0.6s, backdrop-filter 0.6s;
        box-sizing: border-box;
    }

    .window.mini:hover {
        backdrop-filter: blur(2px);
        background-color: #ffffffbf;
        /* Delays window effects from appearing too early when hovered over */
        transition-delay: 0.6s; 
    }

    .window.mini > * {
        z-index:1;
        opacity: 0;
        /* Quickens window content disappearing when hover off */
        transition: 0.2s;
    }

    .window.mini > h1, .window.mini > h2, .window.mini > p {
        position: relative;
    }

    .window.mini:hover > * {
        opacity: 1;
        transition: 1s;
        /* Delays window content from appearing too early when hovered over ONLY */
        transition-delay: 0.3s;
    }

    .window.mini::before {
        z-index:0;
        content: " ";
        display: block;
        position: absolute;
        top: -3px;
        width: 4rem;
        height: 4rem;
        background-color:#539aea;
        border: 3px solid #2661ca;
        border-radius: 10px;
        transition: width 0.6s, height 0.6s, background-color 2s;
        /* Slightly delays shrinking when hover off */
        transition-delay: 0.1s;
    }

    .window.mini.mini-right::before {
        right: -3px;
    }

    .window.mini.mini-left::before {
        left: -3px;
    }

    .window.mini:hover::before {
        width: 100%;
        height: 100%;
        background-color:#00000000;
        /* Removes original delay to speed up expand when hovered over */
        transition-delay: 0s;
    }

}





/* HEADER ******************************************************************************************************************************/

#header {
    height: 500px;
    display: block;
}

#header-window-wrapper {
    /* width: 100%; */
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav {
    /* width: 100%; */
    position: sticky;
    top: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    
    box-shadow: 0 10px 10px #ffe1f286;
    z-index: 999;
}

#nav-content-container {
    padding: 20px;
    display: grid;
    gap: 5px;
    grid-template-columns: calc(40vw - 50px) 100px calc(40vw - 50px);
}

nav > img {
    width: 100px;
}

#nav-left {
    justify-self: end;
    display: flex;
    align-items: center;
}

#nav-right {
    justify-self: start;
    display: flex;
    align-items: center;
}

nav a {
    margin: 0 2vw;
}


/* ABOUT ******************************************************************************************************************************/

#about {
    padding: 50px;
    position: relative;
    width: 100%;
    box-sizing: border-box;

}

#about-portrait {
    width: 70vw;
    max-width: 500px;
    padding-left: 40px;
    display: block;
    margin: auto;
}

#about-content-container {
    width: 100%;
    height: 500px;
    position: absolute;
    top:0;
    left: 0;
    display: grid;
    grid-template-columns: auto 16vw auto;
}

@media screen and (max-width: 800px) {
   #about-content-container {
        grid-template-columns: auto 0 auto;
        margin: 0 10px;
    }
}

#about-content-container > div {
    position: relative;
}

#about-window-1 {
    width: 330px;
    position: absolute;
    top: 120px;
    right:0;
    /* transition: 0.2s; */
}

#about-window-2 {
    width: 270px;
    position: absolute;
    top: 350px;
    left: 40px;
    /* transition: 0.2s; */
}

#about-window-3 {
    width: 250px;
    position: absolute;
    
    top: 540px;
    right: -20px;
    /* transition: 0.2s; */
}

@media screen and (max-width: 800px) {
    #about-window-1 {
        left: 50px;
    }

    #about-window-2 {
        right: 50px;
        left: auto;
    }

    #about-window-3 {
        left: 100px;
    }
}


/* PROJECT ******************************************************************************************************************************/

#project-body {
    padding: 100px 10vw 15vw 10vw;
    box-sizing: border-box;
    background-color: #2661ca;
    background-image: radial-gradient(#5caed6 30%, #2661ca 70%);
}

#project-title-window {
    width: 250px;
}

#project-rolf-window {
    margin-left: calc(3vw + 10px);
    margin-top: -190px;
}

#project-rolf-window > div {
    width: 480px;
}

#project-rolf-image-window {
    margin-left: auto;
    margin-top: -40px;
    width: 100%;
    max-width: 900px;
}

#rolf-image {
    width: 100%;
    border: 3px solid #ffe1f2;
    border-radius: 10px;
    margin-bottom: 1.2rem;
    box-sizing: border-box;
}

@media screen and (max-width: 1200px) {
    #project-rolf-image-window {
        margin-top: 10px;
    }
}

#project-start {
    width: 100%;
    height: 25vw;
    min-height: 400px;
    margin-bottom: -10px;
    position: relative;
}

#project-start > .project-cloud-left {
    position: absolute;
    height: 25vw;
    min-height: 300px;
    left: 0px;
    bottom:0px;
}

#project-start > .project-cloud-right {
    position: absolute;
    height: 25vw;
    min-height: 300px;
    right: 0px;
    bottom:0px;
}

#project-end {
    width: 100%;
    height: 10vw;
    min-height: 200px;
    margin-top: -9vw;
    position: relative;
}

#project-end > .project-cloud-left {
    position: absolute;
    height: 10vw;
    min-height: 100px;
    left: 0px;
    top:0px;
}

#project-end > .project-cloud-right {
    position: absolute;
    height: 10vw;
    min-height: 100px;
    right: 0px;
    top:0px;
}




/* ILLUSTRATION ******************************************************************************************************************************/

#illustration {
    padding: 100px 10vw 15vw 10vw;
}

#illustration-title-window {
    width: 250px;
}





/* FOOTER ******************************************************************************************************************************/

#footer {
    margin: 0;
    position: relative;
    background-image: linear-gradient(to bottom, white, #ffe1f2a5); 
}

#footer-padder {
    height: 200px;
}

/* Bottom *************************************************************************/

#footer-end-container {
    width: 100%;
    height: 150px;
    padding-top: 30px;
    position: relative;
    z-index: 2;
    overflow: hidden;
}

#footer-end {
    height: 150px;
    margin-bottom: -5px;
    position: relative;
}

#footer-end-end {
    width: 100%;
    height: 10px;
    background-color: #083889;
}

/* Window *************************************************************************/

#footer-window {
    margin-right: auto;
    margin-left: auto;
    width: 60%;
    box-sizing: border-box;
    transition: 0.4s;
    position: relative;
    z-index: 1;
}

#footer-content {
    display: grid;
    grid-template-columns: auto 400px;
    gap: 40px;
    min-height: 400px;
    margin-bottom: 2.4rem;
    transition: 0.2s;
}

@media screen and (max-width: 1200px) {
    #footer-window {
        width: 80%;
    }
}

@media screen and (max-width: 900px) {
    #footer-window {
        width: 90%;
    }

    #footer-content {
        grid-template-columns: auto;
        gap: 0px;
        min-height: auto;
    }
}

#footer p > a {
    color: #539aea;
}

#footer-buttons {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}

#footer-buttons > .wide {
    grid-column: 1 / span 2;
}

#footer-buttons > .button {
    background-color: #fff3fa;
}

#footer-buttons > .button:nth-child(3) {
    background-color: #e3e5f9;
}

#footer-buttons > .button:nth-child(4) {
    background-color: #d6e7fa;
}

#footer-image {
    margin-top: 1.2rem;
    border: 3px solid #2661ca;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/* Background *************************************************************************/

#footer-back-container {
    width: 100%;
    height: 100%;
    position: absolute;
}

#footer-back-cloud-right {
    width: 600px;
    position: absolute;
    right: -50px;
    bottom: 5vw;
}

#footer-back-cloud-left {
    width: 600px;
    position: absolute;
    left: -150px;
    bottom: 5vw;
}

.footer-light-clouds {
    position: absolute;
    height: 140px;
}

.footer-light-clouds:nth-child(1) {
    top: 0;
    left: 200px;
    height: 100px;
}

.footer-light-clouds:nth-child(2) {
    bottom: 600px;
    left: -50px;
}

.footer-light-clouds:nth-child(3) {
    bottom: 500px;
    right: -80px;
}

.footer-light-clouds:nth-child(4) {
    top: 120px;
    right: 200px;
    height: 120px;
}