/* ABOUT ******************************************************************************************************************************/

#about {
    padding: 50px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

#about > p {
    font-size: 18px;
}

#about-portrait-wrapper {
    width: 70vw;
    max-width: 500px;
    padding-left: 40px;
    display: block;
    margin: auto;
    position: relative;
    z-index: 1;
    height: fit-content;
}

#about-portrait {
    width: 70vw;
    max-width: 500px;
    padding-left: 0px;
    display: block;
    position: relative;
    z-index: 1;
}

#about-content-container {
    width: 100%;
    height: 500px;
    position: absolute;
    top:0;
    left: 0;
    display: grid;
    grid-template-columns: auto 16vw auto;
    z-index: 9;
}

@media screen and (max-width: 800px) {
   #about-content-container {
        grid-template-columns: auto 0 auto;
        margin: 0 10px;
    }
}

#about-content-container > div {
    position: relative;
}

#about-window-1 {
    width: 330px;
    position: absolute;
    top: 120px;
    right:0;
    /* transition: 0.2s; */
}

#about-window-2 {
    width: 270px;
    position: absolute;
    top: 350px;
    left: 40px;
    /* transition: 0.2s; */
}

#about-window-3 {
    width: 250px;
    position: absolute;
    
    top: 540px;
    right: -20px;
    /* transition: 0.2s; */
}

@media screen and (max-width: 800px) {
    #about-window-1 {
        left: 50px;
    }

    #about-window-2 {
        right: 50px;
        left: auto;
    }

    #about-window-3 {
        left: 100px;
    }
}

#about-bg {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0
}

#about-bg-wrapper {
    position: relative;
    width: 100%;
}

#about-bg img {
    position: absolute;
    width: 220px;
}

#about-bg .cloud-1 {
    position: absolute;
    width: 360px;
    left: -30px;
    top: 300px;
}

#about-bg .cloud-2 {
    position: absolute;
    width: 360px;
    right: -30px;
    top: 500px;
}

#about-bg .cloud-3 {
    position: absolute;
    width: 220px;
    right: 300px;
    top: 100px;
}

#about-bg .cloud-light-1 {
    left: 100px;
    top: 70px;
}

#about-bg .cloud-light-2 {
    right: -50px;
    top: 100px;
}

#about-bg .cloud-light-3 {
    right: 600px;
    top: 170px;
    width: 190px;
}

#about-bg .cloud-light-4 {
    left: 500px;
    top: 400px;
}

#about-bg .cloud-light-5 {
    right: 400px;
    top: 650px;
}

#about-bg .cloud-light-6 {
    left: 100px;
    top: 720px;
}



/* PROJECT ******************************************************************************************************************************/

#project-body {
    padding: 100px 10vw 15vw 10vw;
    box-sizing: border-box;
    background-color: #2661ca;
    background-image: radial-gradient(#5caed6 30%, #2661ca 70%);
}

#project-title-window {
    width: 250px;
}

#rolf-image {
    width: 100%;
    border: 3px solid #ffe1f2;
    border-radius: 10px;
    margin-bottom: 1.2rem;
    box-sizing: border-box;
}

#project-rolf-container {
    position: relative;
    min-height: 600px;
}

#project-rolf-window {
    position: absolute;
    top: 300px;
    left: 10px;
    width: 500px;
    padding-bottom: 15px;
    transition: 1s;
    z-index: 1;
}

#project-rolf-image-window {
    display: block;
    max-width: 1000px;
    margin-top: 10px;
    margin-left: auto;
    position: static;
    z-index: 0;
    transition: 1s;
}

@media screen and (max-width: 1200px) {
    #project-rolf-image-window {
        max-width: 100%;
    }

    #project-rolf-window {
        position: relative;
        top: 0;
    }
}

#project-bg {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0
}

#project-bg-wrapper {
    position: relative;
    width: 100%;
}

#project-bg .cloud-dark-1 {
    position: absolute;
    width: 360px;
    left: 30px;
    top: 700px;
}

#project-bg .cloud-dark-2 {
    position: absolute;
    width: 360px;
    right: 30px;
    top: 800px;
}

#project-bg .cloud-dark-3 {
    position: absolute;
    width: 360px;
    left: 120px;
    top: 1130px;
}

#project-bg .star {
    width: 50px;
    position: absolute;
}

#project-bg .star-1 {
    right: 100px;
    top: 400px;
}

#project-bg .star-2 {
    right: 500px;
    top: 500px;
}

#project-bg .star-3 {
    left: 300px;
    top: 900px;
}

#project-bg .star-4 {
    left: 500px;
    top: 1400px;
}


@media screen and (max-width: 1200px) {
    #project-bg .star-4 {
        display: hidden;
    }
}


/* ILLUSTRATION ******************************************************************************************************************************/

#illustration {
    padding: 100px 10vw 15vw 10vw;
    height: 60vw;
    position: relative;
}

#illustration-title-window {
    width: 300px;
    position: relative;
    z-index: 1;
}

#illustration-images {
    position: absolute;
    top: 150px;
    left: -5%;
    width: 110%;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 10px;
    transition: 1s;
    z-index: 0;
}

@media screen and (max-width: 800px) {
    #illustration-images {
        top: 200px;
    }
}

#illustration-images > div {
    display:block;
    position: relative;
}

#illustration-images img {
    width: 100%;
    margin-bottom: 10px;
    display: block;
}

#folly {
    margin-top: 80%;
}

#blooming {
    margin-top: 70%;
}

#wings {
    margin-top: 55%;
}

#dorm {
    margin-top: 20%;
}