#projects-container {
    padding: 100px 10vw;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;;
    gap: 40px;
}

.project-window {
    /* max-width: 500px; */
    display: block;
}

.window-title {
    max-width: 500px;
    margin-left: -20px;
}

.project-window .window-body {
    position: relative;
    overflow: hidden;
    min-height: 200px;
}

.project-window-logo {
    float: right;
    position: absolute;
    bottom: 0;
    right: -50px;
    margin: 10px;
    opacity: 0.5;
    max-width: 400px;
    z-index: -1;

}

@media screen and (max-width: 1100px) {
    #projects-container {
        grid-template-columns: auto;
    }
}

#iajes-project-window .window, #iajes-project-window .window-head {
    color: #136E8D;
    border-color: #136E8D;
}

#iajes-project-window .window-head {
    background-color: #1EA49360;
}

#iajes-project-window:hover h2 {
    color: #1EA493;
}

#iajes-project-window .window-buttons > div {
    background-color: #1EA493;
}

#iajes-project-window .window-buttons > div:hover {
    background-color: #136E8D;
}



#rolf-project-window .window, #rolf-project-window .window-head {
    color: #1F8AA0;
    border-color: #1F8AA0;
    transition: color 0.2s, margin 0.6s, box-shadow 0.6s, background-color 0.6s;
}

#rolf-project-window:hover h2 {
    color: #49B5BB;
}

#rolf-project-window .window-head {
    background-color: #49B5BB60;
}

#rolf-project-window .window-buttons > div {
    background-color: #49B5BB;
}

#rolf-project-window .window-buttons > div:hover {
    background-color: #1F8AA0;
}



.oxygen {
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
  /* font-optical-sizing: auto; */
  font-weight: 700;
  font-style: normal;
  font-size: 1.2rem;
}

.text-col-small {
    padding: 0 10vw;
}

#iajes-main-container {
    padding: 100px 0 10vw 0;
}

#iajes-main-container > section {
    margin-bottom: 100px;
}

#iajes-intro {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    margin: auto 10vw;
}

@media screen and (max-width: 1100px) {
    .text-col-small {
        padding: 0;
    }

    #iajes-intro {
        grid-template-columns: auto;
    }
}

#iajes-summary {
    margin: auto 10vw;
    /* margin-top: 50px; */
}

#iajes-need {
    display: flex;
    justify-content: center;
    margin: 100px 20px;
    margin-bottom: 120px;
}

#iajes-need-window {
    max-width: 800px;
}

#iajes-need p {
    font-weight: bold;
    font-size: 1.1rem;
    line-height: 1.9rem;
}

#iajes-features {
    margin: auto 10vw;
}

#iajes-features-row {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
}

#iajes-features-row > div {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #2661ca;
    border-radius: 10px;
    background-color: #ffe1f292;
    transition: .6s;
}

#iajes-features-row > div.blue {
    background-color: #539aea25;
}

#iajes-features-row > div > .bi {
    font-size: 3rem;
    margin-bottom: 7px;
}

#iajes-features-row > div:hover {
    margin-top: -5px;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 0.753);
    box-shadow: 0 10px 10px #ffe1f286;
}

@media screen and (max-width: 1100px) {
    #iajes-features-row {
        grid-template-columns: auto auto;
    }
}

#iajes-ui > * {
    margin: auto 10vw;
}

#iajes-ui-1 {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 50px;
    align-items: center;
    
}

#iajes-ui-1 > * {
    min-width: 300px;
}

#iajes-motifs-column {
    margin-top: 20px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#iajes-motifs-column > * {
    width: 300px;
    margin: 5px 15px;
}

#iajes-ui-2 {
    margin-top: 50px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 50px;
    align-items: center;
}

@media screen and (max-width: 1100px) {
    #iajes-ui-1, #iajes-ui-2 {
        grid-template-columns: auto;
        justify-items: center;
    }
}

#iajes-styles-column {
    display: flex;
    flex-direction: column;
}

#iajes-styles-column > * {
    margin: 5px;
}

#iajes-styles-column > * > .quicksand, #iajes-styles-column > * > .oxygen {
    font-size: 2rem;
}

.swatch {
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    padding: 30px 50px;
    text-align: center;
    color: white;
}

.swatch-74C9B5 {
    background-color: #74C9B5;
}
.swatch-1EA493 {
    background-color: #1EA493;
}
.swatch-136E8D {
    background-color: #136E8D;
}
.swatch-063751 {
    background-color: #063751;
}

#iajes-styleguide-window {
    max-height: 75vh;
    height: 800px;
    overflow: hidden;
}

#iajes-styleguide-window > .window-body {
    padding: 0;
}

#iajes-styleguide {
    width: 100%;
    max-height: calc(75vh - 35px);
    height: 765px;
}

#iajes-ui-4 {
    margin: 0;
    margin-top: -140px;
}

#iajes-ui-4 > .dark-body {
    padding: 50px 10vw 15vw 10vw;
}

#iajes-popups-intro {
    display: grid;
    grid-template-columns: auto auto;
    gap: 30px;
}

#iajes-popups-img {
    max-width: 600px;
    grid-row: 1 / span 2;
    grid-column: 2;
}

@media screen and (max-width: 1100px) {
    #iajes-popups-intro {
        grid-template-columns: auto;
        justify-items: center;
        gap: 0px;
    }

    #iajes-popups-img {
        max-width: 600px;
        grid-row: auto;
        grid-column: auto;
    }
}





#rolf-intro-content {
    padding: 100px 10vw 10vw 10vw;
    box-sizing: border-box;
    background-color: #2661ca;
    background-image: radial-gradient(#5caed6 30%, #2661ca 70%);
}

#rolf-title-window {
    position: relative;
    max-width: fit-content;
}

#rolf-intro-desc {
    display: block;
    /* margin: 40px 0; */
    columns: 2;
}

#rolf-intro-orig-container {
    position: relative;
}

#rolf-intro-orig-desc {
    position: absolute;
    top: 130px;
    width: 320px;
    padding-bottom: 15px;
    transition: 1s;
    z-index: 1;
}

#rolf-intro-orig {
    max-width: 80%;
    margin-left: auto;
    position: static;
    z-index: 0;
    transition: 1s;
}

@media screen and (max-width: 900px) {
    #rolf-intro-orig {
        max-width: 100%;
    }

    #rolf-intro-orig-desc {
        position: relative;
        top: 0;
    }
}







#rolf-research {
    padding: 100px 10vw 10vw 10vw;
    box-sizing: border-box;
    position: relative;
}

#research-img {
    position: absolute;
    right: -300px;
    top: 200px;
    height: 300px;
    opacity: 0.5;
}

#rolf-research > p {
    max-width: 720px;
    /* margin: 40px 0; */
}

#research-desc-window {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}




#rolf-ideate {
    padding: 100px 10vw 10vw 10vw;
    box-sizing: border-box;
    position: relative;
}

#rolf-ideate .window {
    position: relative;
    z-index: 1;
}

#rolf-ideate > p {
    max-width: 720px;
    /* margin: 40px 0; */
    position: relative;
    z-index: 1;
}

#rolf-wireframes {
    position: absolute;
    right: -80px;
    top: 0;
    z-index: 0;
    transition: 0.6s;
    height: 900px;
    overflow: hidden;
}

#rolf-wireframes > img {
    width: 400px;
    border: 1px black solid;
}

.fade-white-top {
    position: absolute;
    width: 100%;
    background-image:linear-gradient(to bottom, white, rgba(255, 255, 255, 0));
    height: 100px;
    top: 0;
    left: 0;
    opacity: 0.8;
}

.fade-white-bottom {
    position: absolute;
    width: 100%;
    background-image:linear-gradient(to top, white, rgba(255, 255, 255, 0));
    height: 500px;
    bottom: 0;
    left: 0;
    opacity: 1;
}

@media screen and (max-width: 1460px) {
    #rolf-wireframes {
        opacity: 0.3;
    }

    .fade-white-top {
        opacity: 1;
    }
}
    

#rolf-design-content-glow {
    padding: 100px 10vw 10px 10vw;
    box-sizing: border-box;
    background-color: #2661ca;
    background-image: radial-gradient(#5caed6 30%, #2661ca 70%);
}

#rolf-design-content-bottom {
    padding: 40px 10vw 10vw 10vw;
    box-sizing: border-box;
    background-color: #2661ca;
}

#rolf-design-window-buttons {
    padding: 0 0 15px 0;
    display: flex;
    flex-wrap: wrap;
}

#rolf-design button {
    margin: 5px;
    border-color: #ffe1f2;
    color: white;
    background-color: rgba(255, 255, 255, 0.222);
    font-size: 1.1rem;
}

#rolf-design button:hover {
    background-color: rgba(255, 255, 255, 0.395);
}

#rolf-design button.active {
    border-color: white;
    background-color: rgba(255, 255, 255, 0.395);
}

#rolf-design-window-window {
    border: 3px solid #ffe1f2;
    border-radius: 10px;
    overflow-y: scroll;
    height: 35vw;
    margin-bottom: 1.2rem;

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#rolf-design-window-window::-webkit-scrollbar {
  display: none;
}

#rolf-design-window-image {
    width: 100%;
}